<div class="card">
  <img
    src="{{product.image}}"
    alt="Kombucha flavor"
    class="card-img-top"
  />
  <div class="card-body">
    <h5 class="card-title">{{product.productName}}</h5>
    <p class="card-text">{{product.description}}</p>
    <p class="card-text">{{product.productPrice}}</p>
  </div>
  <a class="btn btn-success" type="submit" href="/cart">Add to cart</a>
</div>