<div class="col-md-6 offset-md-3">  
          <div class="form">
            <form
              action="/events"
              method="POST"
              class="mt-4 border p-3 bg-light shadow"
            >
              <h3 class="mb-5 text-secondary">Add event</h3>
              <div class="row">
                <div class="mb-3 col-md-12">
                  <label>Event Title*</label>
                  <input
                    type="text"
                    id="event"
                    name="event"
                    class="form-control"
                    required
                  />
                </div>
                <div class="mb-3 col-md-12">
                  <label>Event Date*</label>
                  <input
                    type="text"
                    id="date"
                    name="date"
                    class="form-control"
                    required
                  />
                </div>
                <div class="mb-3 col-md-12">
                  <label>Description*</label>
                  <textarea
                    type="text"
                    id="description"
                    name="description"
                    class="form-control"
                    rows="3"
                    required
                  ></textarea>
                </div>
                <div class="mb-3 col-md-6">
                  <label for="imageUrl" class="form-label">Image Url</label>
                  <input type="imageUrl" name="imageUrl" id="imageUrl"/>
                </div>
                <div class="col-md-12">
                  <button class="btn btn-success float-end" type="submit">Add event</button>
                </div>
              </div>
              <p class="p-3">To view your current events, please click <a href="/events">here</a></p>
            </form>
            </div>
        </div>