
  <body>
    <div class="container" id="addProduct">
      <div class="row updateForm">

        <div class="col-md-6 offset-md-3">
{{#if message}} 
            <div id="error-message">
              <p style="align-items: center">{{message}}</p>
              </div>
            {{/if}}
          <div class="form">
            <form
              action="/products/add"
              method="POST"
              class="mt-4 border p-3 bg-light shadow"
            >
              <h3 class="mb-5 text-secondary">Add a product</h3>
              <div class="row">
                <div class="mb-3 col-md-12">
                  <label>Product Name*</label>
                  <input
                    type="text"
                    name="productName"
                    class="form-control"
                    required
                  />
                </div>
                <div class="mb-3 col-md-12">
                  <label>Description*</label>
                  <textarea
                    type="text"
                    name="description"
                    class="form-control"
                    rows="3"
                    required
                  ></textarea>
                </div>
                <div class="mb-3 col-md-12">
                  <label for="productPrice">Price*</label>
                  <input
                    type="text"
                    name="productPrice"
                    class="form-control"
                    required
                  />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="imageUrl">ImageUrl</label>
                  <input type="text" id="imageUrl" name="imageUrl" required/>
                </div>
                <div class="col-md-12">
                  <button class="btn btn-success float-end">Add Product</button>
                </div>
              </div>
            <p class="p-3">To view your current products, please click <a href="/products">here</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>

  </body>

