
  <div 
    class="col-md-6 offset-md-3">
    <div class="form">
      <form
        action="/plants"
        method="POST"
        class="mt-4 border p-3 bg-light shadow">
        <h3 class="mb-5 text-secondary">Add a Plant</h3>
        <div class="row">
          <div class="mb-3 col-md-12">
            <label>Common Name*</label>
              <input
                type="text"
                id="CommonName"
                name="CommonName"
                class="form-control"
                required/>
          </div>
          <div class="mb-3 col-md-12">
            <label>Scientific Name*</label>
              <input
                type="text"
                id="ScientificName"
                name="ScientificName"
                class="form-control"
                required/>
          </div>
          <div class="mb-3 col-md-12">
            <label>Precipitation Maximum</label>
              <input
                type="text"
                id="Precipitation_Maximum"
                name="Precipitation_Maximum"
                class="form-control"/>
          </div>
          <div class="mb-3 col-md-12">
            <label>Precipitation Minimum</label>
              <input
                type="text"
                id="Precipitation_Minimum"
                name="Precipitation_Minimum"
                class="form-control"/>
          </div>
          <div class="mb-3 col-md-12">
            <label>Bloom Period</label>
              <input
                type="text"
                id="BloomPeriod"
                name="BloomPeriod"
                class="form-control"/>
          </div>
          <div class="mb-3 col-md-12">
            <label>Life Cycle</label>
              <input
                type="text"
                id="Duration"
                name="Duration"
                class="form-control"/>
          </div>
          <div class="mb-3 col-md-12">
            <label>Growth Rate</label>
              <input
                type="text"
                id="GrowthRate"
                name="GrowthRate"
                class="form-control"/>
          </div>
          <div class="mb-3 col-md-12">
            <label>Shade Tolerance</label>
              <input
                type="text"
                id="ShadeTolerance"
                name="ShadeTolerance"
                class="form-control"/>
          </div>
          <div class="mb-3 col-md-12">
            <label>Root Depth</label>
              <input
                type="text"
                id="RootDepthMinimum"
                name="RootDepthMinimum"
                class="form-control"/>
          </div>
          <div class="mb-3 col-md-6">
            <label 
              for="imageUrl" 
              class="form-label"
              >Attach Image
            </label>
            <input 
              type="imageUrl" 
              name="imageUrl" 
              id="imageUrl"
              class="form-control"
              required/>
          </div>
          <div class="mb-3 col-md-12">
            <label>Added By</label>
              <select
                id="AddedBy"
                name="AddedBy"
                class="form-control">
                <option value="Guilherme Santos">Guilherme Santos</option>
              </select>
          </div>
          <div class="col-md-12">
            <button 
              class="btn btn-success float-end" 
              type="submit"
              >Add to Plant Database
            </button>
          </div>
        </div>
        <p class="p-3">To view your current plants, please click <a href="/plants">here</a></p>
      </form>
    </div>
  </div>
