<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
    <body>
    <body class="bg-light">
    <div class="container">
      <div class="py-5 text-center">
        <img class="mb-4 d-block mx-auto" src="/images/logo.png" height="72" />

        <h2>Your Cart</h2>
        <p class="lead">Get your Booch!</p>
      </div>
    </div>

     <section id="cartSect">
        <table>
            <thead class="thead">
                <tr>
                    <th colspan='2'>item</th>
                    <th>price</th>
                    <th colspan='2'>quantity</th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr class="totalRow">
                    <td colspan='5'>Total: ${{price}}</td>
                </tr>
            </tbody>
        </table>
        <button class="btn checkout-btn">Proceed to Checkout</button>
    </section>

</body>
</html>