
<body id="holisticBody">

      <div class="masthead"
        style="background-image: url('https://images.pexels.com/photos/207896/pexels-photo-207896.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');" >
        <div class="color-overlay d-flex justify-content-center align-items-center">
            <div class="singleCol container text-center">
               <h1>Visit our family-owned Kombucha farm in North Shore Hawaii</h1>
               <p>Find out how to get involved.</p>        
         </div>
      </div>
   </div>
   <br>
           <div class="col-md-6 offset-md-3">
          {{#if isAdmin}}  
          <div class="form">
            <form
              action="/events"
              method="POST"
              class="mt-4 border p-3 bg-light shadow"
            >
              <h3 class="mb-5 text-secondary">Add event</h3>
              <div class="row">
                <div class="mb-3 col-md-12">
                  <label>Event Title*</label>
                  <input
                    type="text"
                    id="event"
                    name="event"
                    class="form-control"
                    required
                  />
                </div>
                <div class="mb-3 col-md-12">
                  <label>Event Date*</label>
                  <input
                    type="text"
                    id="date"
                    name="date"
                    class="form-control"
                    required
                  />
                </div>
                <div class="mb-3 col-md-12">
                  <label>Description*</label>
                  <textarea
                    type="text"
                    id="description"
                    name="description"
                    class="form-control"
                    rows="3"
                    required
                  ></textarea>
                </div>
                <div class="mb-3 col-md-6">
                  <label for="imageUrl" class="form-label">Attach Image</label>
                  <input type="imageUrl" name="imageUrl" id="imageUrl"/>
                </div>
                <div class="col-md-12">
                  <button class="btn btn-success float-end" type="submit">Add event</button>
                </div>
              </div>
            </form>
            {{/if}}
          </div>
        </div>
   <br> 
   <div class="container">
      <div class="row g-3">
            {{#each events}}
            {{> tempEvents event=this}}
            {{/each}}
         </div>
      </div>
    </div>

          <div class="container">
            <div class="row g-3">
              {{#each events}}
                {{> tempEvents event=this}}
              {{/each}}
          </div>
            </div> 

    {{#if message}}
    <div>
      {{message}}
    </div>
    {{/if}}
</body>
