<body>
      <div class="container">
            <div class="row g-3">
                  {{#each plants}}
                  {{> tempPlant plant=this}}
                  {{/each}}
            </div>
      </div>
    
    <div>
                  {{!-- add search bar --}}
        <p>Search by Common Name</p>
    </div>
</body>
