<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>North Shore Booch</title>
  </head>
  <body>
    <main>

      <div
        id="carouselExampleCaptions"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://images.pexels.com/photos/1675211/pexels-photo-1675211.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
              class="w-100 50vh"
              alt="..."
            />
            <div class="carousel-caption d-md-block">
              <h1>Handcrafted Kombucha, from farm to table!</h1>
              <p>A steady production of kombucha tea and hard kombucha all done at our newly remodeled commercial kitchen facility. All ingredients will be produced locally at our farm. The main kombucha culture known as S.C.O.B.Y. can be asily cloned!
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="https://images.pexels.com/photos/574919/pexels-photo-574919.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
              class="w-100 50vh"
              alt="..."
            />
            <div class="carousel-caption d-md-block">
              <h1>Community Garden</h1>
              <p>Our community garden is a not-for-profit area set aside from the rest of the farm. Any member of the community may come and grow their own foods, raise chickens for fresh eggs, and honeybees for fresh honey. The community garden is the heart and soul of our farm for its healing and connecting potential and ability to supply fresh organic produce.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="https://images.pexels.com/photos/96715/pexels-photo-96715.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
              class="w-100 50vh"
              alt="..."
            />
            <div class="carousel-caption d-md-block">
              <h1>Holistic Healing</h1>
              <p>Our farm will serve as a wellness healing center with yoga/meditation, garden and integrated plant medicine programs administered by licensed doctors with weekly, and monthly wellness sustainability events for the community to raise money for our not-for-profit efforts.</p>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </main>

    {{! SECTION ONE }}
    <section class="container steps">
      <div class="row p-4">
        <div class="col-12 col-sm-6 d-md-flex justify-content-md-center">
          <img
            src="/images/IMG_0776.jpg"
            width="400"
            height="450"
            class="img-fluid pb-4 thumbnail"
          />
        </div>
        <div
          class="col-12 col-sm-6 d-md-flex align-self-center justify-content-md-center"
        >
          <span>
            <h1 class="h2 mb-4">About us</h1>
            <p class="mb-4">We are an Organic, Self-sustainable Farm, and
              Business, using only green clean energy, composting, reducing,
              reusing and recycling as much as we can possibly do. Our beautiful
              planet Earth is suffering from the rapid extraction of resources,
              the use of fossil fuels to produce energy and not recycling
              enough. And its people are getting sick, both physically and
              mentally, from not eating fresh or clean foods.
              <br />
              <br />
              Global warming is Real, Food Crisis is Real, Pharmaceutical Drugs
              abuse is Real, Mental Health issues like Depression, ADHD, Anxiety
              all on the rise and Real, the country’s opioids and amphetamine
              crises are Real! As a collective it's our job to make a change to
              mitigate these issues, one step at a time, one action at a time,
              one plant at time, one meditation session at a time, one yoga
              class at a time, one surf session at a time, one hike into nature
              at a time, one sunset at a time</p>
          </span>
        </div>
      </div>
    </section>

    {{! SECTION TWO }}
    <section class="container" style="background-color:aliceblue">
      <div class="row p-4">
        <div
          class="col-12 col-sm-6 d-md-flex justify-content-md-center order-sm-1"
        >
          <img
            src="/images/banana.jpg"
            width="400"
            height="450"
            class="img-fluid pb-4 thumbnail"
          />
        </div>
        <div
          class="col-12 col-sm-6 d-md-flex align-self-center justify-content-md-center"
        >
          <span>
            <h1 class="h2 mb-4">Mission Statement</h1>
            <p class="mb-4">We are committed to producing the cleanest organic
              food possible without any chemicals or pesticides that could harm
              the environment and its resources, preserving the endemic species
              of fauna and flora in the most sustainable way possible, and
              working closely with native Hawaiians and locals.
              <br />
              <br />
              Our farm will serve as a wellness healing center with a
              yoga/meditation garden and integrated plant medicine programs
              administered by licensed doctors with weekly and monthly wellness
              sustainability events for the community to raise money for our
              not-for-profit efforts.
            </p>
          </span>
        </div>
      </div>
    </section>

    {{! SECTION THREE }}
    <section class="container steps">
      <div class="row p-4">
        <div class="col-12 col-sm-6 d-md-flex justify-content-md-center">
          <img
            src="/images/71CD37EC-7733-4B32-9E4A-9228C6111C43.jpg"
            width="400"
            height="450"
            class="img-fluid pb-4 thumbnail"
          />
        </div>
        <div
          class="col-12 col-sm-6 d-md-flex align-self-center justify-content-md-center"
        >
          <span>
            <h1 class="h2 mb-4">Keeping our Aina pure</h1>
            <p class="mb-4">Our Aina (land) has been abused and neglected with
              unsustainable farming practices by conventional farmers (companies
              like Dole, Monsanto, Pioneer, and some small farmers) with the use
              of chemicals and plastic-products and debris (mulch paper,
              disposable drip line, plastic hoses or even trash). The effects of
              microplastics on soil and food quality is under study but worries
              us.
              <br />
              <br />
              We are determined to remove all microplastics and debris from our
              soil and to only use sustainable biodegradable mulch solutions
              from all our leased and owned lands, to spread this knowledge and
              concept to our neighbors, and reverse this sad situation here on
              the North Shore of Oahu and throughout Hawai’i.
            </p>
          </span>
        </div>
      </div>
    </section>

  </body>
</html>