
<body>

      <div class="masthead"
        style="background-image: url('https://images.pexels.com/photos/2171077/pexels-photo-2171077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');" >
        <div class="color-overlay d-flex justify-content-center align-items-center">
            <div class="singleCol container text-center">
               <h1>Shop the latest handcrafted Kombucha flavors!</h1>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, aspernatur corrupti voluptate aliquid et a libero saepe hic consectetur exercitationem at obcaecati? Placeat necessitatibus aut quaerat fuga dolor numquam pariatur!</p>        
         </div>
      </div>
   </div>
   <br> 

   <div class="container">
      <div class="row g-3">

            {{#each products}}
            {{> tempProduct product=this}}
            {{/each}}
         </div>
      </div>
   </div>
</body>
