<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Shop Kombucha</title>
</head>
<body>

      <div class="masthead"
        style="background-image: url('https://images.pexels.com/photos/48817/jam-preparations-jars-fruit-48817.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');" >
        <div class="color-overlay d-flex justify-content-center align-items-center">
            <div class="singleCol container text-center">
               <h1>Shop the latest handcrafted Kombucha flavors!</h1>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, aspernatur corrupti voluptate aliquid et a libero saepe hic consectetur exercitationem at obcaecati? Placeat necessitatibus aut quaerat fuga dolor numquam pariatur!</p>        
         </div>
      </div>
   </div>
   <br> 
   <div class="container">
      <div class="row g-3">

            {{#each products}}
            {{> tempProduct product=this}}
            {{/each}}
         </div>
      </div>
   </div>
</body>
</html>

            {{!-- <div class="card">
               <img src="https://images.pexels.com/photos/96974/pexels-photo-96974.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Kombucha flavor" class="card-img-top">
               <div class="card-body">
                  <h5 class="card-title">Kombucha Flavor #1</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sapiente iste quia voluptates accusamus!</p>
               </div>
               <button class="btn btn-success" type="button">Add to cart</button>
            </div> --}}
         {{!-- </div> --}}
         {{!-- <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
               <img src="https://images.pexels.com/photos/161440/smoothie-fruit-vegetables-salad-beetroot-carrots-161440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Kombucha flavor" class="card-img-top">
               <div class="card-body">
                  <h5 class="card-title">Kombucha Flavor #2</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sapiente iste quia voluptates accusamus!</p>
               </div>
                  <button class="btn btn-success" type="submit">Add to cart</button>
            </div>
         </div> --}}
         {{!-- <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
               <img src="https://images.pexels.com/photos/109275/pexels-photo-109275.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Kombucha flavor" class="card-img-top">
               <div class="card-body">
                  <h5 class="card-title">Kombucha Flavor #3</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sapiente iste quia voluptates accusamus!</p>
               </div>
               <button class="btn btn-success" type="button">Details</button>
            </div> --}}
         {{!-- </div> --}}
      {{!-- </div> --}}
      
   
   