
<body>

      <div class="masthead"
        style="background-image: url('https://previews.dropbox.com/p/thumb/ABgmcoeY-yhVwtBC6Z8Qbyi3KnjDkKL-MoT62wSz_8yL_9Y96ZXEZcB3r5oZnvx4_YDQxi9wBwbHuosdkmvwMpOUcP6NmYiJiD3QOpeIuIHr454lXlSY4r3phimNj2DoN1yyiwocXVR3zicp6PsCD-gUBtKUG4ulr3UMzxB6P5Tl80Ec8N_tcUr5Uzc8eCWClkCRaV8zZpcxtTGJu3WcR3BCgT1kr-eHjqbIzC3ZxrYNazUQtOOmoMHq5NOc7VZKhzz6GXAlMMiKMMMuBil9J68IVQPW3qJ4pRXqSeq_OCpVyWiI4qivfF3Sx6f0HuOWDct3dPH8rHqwrSJrscw--uIeOob35kJQP4wBXA1Pj2DdItKIKuKMK35HHqshiN6Otys/p.jpeg');" >
        <div class="color-overlay d-flex justify-content-center align-items-center">
            <div class="singleCol container text-center">
               <h1>Shop the latest handcrafted Kombucha flavors!</h1>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, aspernatur corrupti voluptate aliquid et a libero saepe hic consectetur exercitationem at obcaecati? Placeat necessitatibus aut quaerat fuga dolor numquam pariatur!</p>        
         </div>
      </div>
   </div>
   <br> 
   <div class="container">
      <div class="row g-3">

            {{#each products}}
            {{> tempProduct product=this}}
            {{/each}}
         </div>
      </div>
   </div>
</body>


      
   
   