
<body>

  <div class="container registerBody" id="registerBody">
    <div class="row updateForm">

      <div class="col-md-6 offset-md-3">
        <div class="form">
          <form
            action="/users/register"
            method="POST"
            class="mt-4 border p-3 bg-light shadow"
          >
      <br>
      <br>
            <h3 class="mb-5 text-secondary">Create an account</h3>
            {{#if message}}
            <div>
              <p style="color: red">{{message}}</p>
                </div>
          {{/if}}
          <br>
            <div class="row">
              <div class="mb-3 col-md-12">
                <label for="firstName">First Name*</label>
                <input
                  type="text"
                  name="firstName"
                  id="firstName"
                  class="form-control"
                  required
                />
              </div>
              <div class="mb-3 col-md-12">
                <label for="lastName">Last Name*</label>
                <input
                  type="text"
                  name="lastName"
                  id="lasttName"
                  class="form-control"
                  required
                />
              </div>
              <div class="mb-3 col-md-12">
                <labelfor="username">Username*</label>
                <input
                  type="text"
                  name="username"
                  id="username"
                  class="form-control"
                  required
                />
              </div>
              <div class="mb-3 col-md-12">
                <label for="email">Email*</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="form-control"
                  required
                ></input>
              </div>
              <div class="mb-3 col-md-12">
                <label for="password">Create Password*</label>
                <input
                  type="text"
                  name="password"
                  id="password"
                  class="form-control"
                  required
                ></input>
              </div>
              <div class="mb-3 col-md-12">
                <label for="repeatPassword">Repeat Password*</label>
                <input
                  type="text"
                  name="repeatPassword"
                  id="repeatPassword"
                  class="form-control"
                  required
                ></input>
              </div>
              <div class="col-md-12">
                <button class="btn btn-success grow" type="submit">Register!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>



{{!-- 

  <body class="registerBody" >
    <div  class="container">
      <main>
        <h1>Register Form</h1>
        <div id="registerForm" class="form" style="">
          <form action="/users/register" method="POST">
          <div class="input-group mb-3">
            <label for="firstName">First name*</label>
            <input type="text" id="firstName" name="firstName" required/>
          </div>
          <div class="input-group mb-3">
            <label for="lastName">Last name</label>
            <input type="text" id="lastName" name="lastName" />
          </div>
          <div class="input-group mb-3">
            <label for="username">Username*</label>
            <input type="text" id="username" name="username" required/>
          </div>
          <div class="input-group mb-3">
            <label for="email">Email*</label>
            <input type="email" id="email" name="email" required />
          </div>
          <div class="input-group mb-3">
            <label for="password">Password*</label>
            <input type="password" id="password" name="password" required/>
          </div>
          <div class="input-group mb-3">
            <label for="repeatPassword">Re-Password*</label>
            <input type="password" id="repeatPassword" name="repeatPassword" required/>
          </div>
            <input class="grow" type="submit" value="Register" />
          </form>
          {{#if message}}
            <div>{{message}}</div>
          {{/if}}
        </div>
        </div>
      </main>
    </div>
  </body>
   --}}
