
  <body id="searchResBod">
    <main>
      {{#if message}}
      <div id="searchMsg">
      <img class="mb-4 d-block mx-auto" src="/images/logo.png" height="72" />
          {{message}}
      </div>
      {{/if}}

    {{#each products}}
    {{>tempProduct product=this}}
    {{/each}}

    {{#each events}}
    {{> tempEvents event=this}}
    {{/each}}
       
    </main>

  </body>
