<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css"/>

   <title>Shop Kombucha</title>
</head>
<body class="volunteerBody">

<div class="container">
          <h1>Register as volunteer</h1>
        <div class="form" style="">
          <form action="/volunteer" method="POST">
            <label for="firstName">First name</label>
            <input type="text" id="firstName" name="firstName" required />

            <label for="lastName">Last name</label>
            <input type="text" id="lastName" name="lastName" required />

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />

            <label for="phoneNumber">Phone number</label>
            <input type="phoneNumber" id="phoneNumber" name="phoneNumber"/>

           <label for="task">Available tasks:</label>
            <select id="task" name="task" type="task">
            <option value="Kombucha Farm">Kombucha Farm</option>
            <option value="Garden Center">Garden Center</option>
            <option value="GroundsKeeper">Groundskeeper</option>
            <option value="Undecided">Undecided</option>
          </select>
          <div>
          <input type="submit" value="submit"/>
          </div>
          </form>
          {{#if message}}
          <div>
          {{message}}  
          </div>
          {{/if}}
  <br>
  <br>
  <h5>A North Shore Booch volunteer will reach out to you within 24 hours.</h5>
</form>
</div>

</body>
</html>