.carousel-item {
  height: 24rem;
}
.carousel-caption {
  position: absolute;
  padding: 100px;
  background-color: rgba(0,0,0,0.4);
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%
}

.masthead {
  background-size: cover;
  min-height:40vh;
  position: relative;
  color: white;
}

.color-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%
}

input:invalid {
 
  border: 0;
  outline: 0;
  border-bottom: 2px solid red;
  background-color: rgba(0, 0, 0, 0);
  
}

input:valid {
  
  border: 0;
  outline: 0;
  border-bottom: 2px solid black;
  background: rgba(0, 0, 0, 0);
  
}

.loginBody {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmy7MVX-gvv1didbV6d5ET7fBBXBdq2ryrOw&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  
  text-align: center;
 
  color: darkgreen;

}
.registerBody {
  background-image: url("https://image.rakuten.co.jp/heath-industrial/cabinet/benefit/st244_2.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  
  text-align: center;
  color: white;
}
#registerForm {
  display: inline-block;
}

.grow {
  transition: all .2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

div#addProduct {
  background-image: src="https://images.pexels.com/photos/1675211/pexels-photo-1675211.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2";
}

.volunteerBody {
  background-image: url("https://images.pexels.com/photos/2219024/pexels-photo-2219024.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

  background-repeat: no-repeat;
  background-size: cover;
  
  text-align: center;
  color: white;
}

svg {
  color: gray; 
}

.eventBody {
  background-color: lavender; 
}

#addBox {
  display: inline-block;
  border: 0;
  outline: 0;
  text-align: left;
}

#searchResBod {
  background-color: whitesmoke;
}

#searchMsg {
  margin: 0;
  position: absolute;
  font-size: larger;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}