.carousel-item {
  height: 24rem;
}
.carousel-caption {
  position: absolute;
  padding: 100px;
  background-color: rgba(0,0,0,0.4);
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%
}

.masthead {
  background-size: cover;
  min-height:40vh;
  position: relative;
  color: white;
}

.color-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%
}

#addProduct {
  background-image: src="https://images.pexels.com/photos/1675211/pexels-photo-1675211.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2";
}

/* DO WE WANT THE BELOW? */

/* input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid black;
} */